<div>
    <button routerLink="add-president" mat-raised-button color="accent">Register President</button>
    <button routerLink="add-vote" mat-raised-button color="accent">Add Vote</button>
    <button routerLink="list-presidents" mat-raised-button color="warn">List Presidents</button>
    <button routerLink="list-votes" mat-raised-button color="accent">List Votes</button>
    <button routerLink="task" mat-raised-button color="accent">Tasks</button>
    <button routerLink="register-admin" mat-raised-button color="primary">Register Admin</button>
    <button routerLink="show-admin" mat-raised-button color="primary">Show Admin</button>
</div>