<div>
    <button routerLink="add-president" mat-raised-button color="primary">Register President</button>
    <button routerLink="add-vote" mat-raised-button color="primary">Add Vote</button>
    <button routerLink="list-presidents" mat-raised-button color="warn">List Presidents</button>
    <button routerLink="list-votes" mat-raised-button color="accent">List Votes</button>
    <button routerLink="admin" mat-raised-button color="accent">Admin Login</button>
    <button routerLink="task" mat-raised-button color="primary">Tasks</button>
</div>